################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Interest Rate Converter/bin
/Interest Rate Converter/obj/Debug
/Interest Rate Converter/obj/Release
